/* .hero {
    background: url('../../assets/img/wave\(1\).svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom;
} */

.hero {
    border-bottom: 1px solid rgba(128, 128, 128, 0.103);
}